h1{
    color:black;
    font-size:30px;
    margin:25 padding:0
    height: 0;
font-weight:bold;
font-style:nomal;
}

h2{
    color:white;
    background-color: black;
    font-size:30px;
    margin:25 padding:25;
    display:
}
#yoko {
    list-style: none;
  }
  
  #yoko li {
    width: 140px;
    text-align: center;
    background-color: #333;
    color: #fff;
    display: inline-block;
  }

 img{
     margin:25 padding:0
 }


h3{
    color:dimgray;
    font-size:30px;
    margin-top:30;
