h1{
    color:black;
    font-size:45px;
    width: 151px;
    margin:25 padding:25
    height: 0;
font-weight:bold;
font-style:nomal;
}
 img{
     margin:25 padding:0
 }

h2{
    color:dimgray;
    font-size:30px;
    margin:0 padding:25;
}
h3{
    color:black
    font-size:15px;
    margin-top:30;
